.btn {
  width: 100%;
  max-width: 300px;
  background: #664cf3;
  -webkit-box-shadow: 0px 11px 17px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 11px 17px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover {
  background-color: #765dfd;
}
