.who {
  padding: 50px 0;
}

.who__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.who__items {
  margin: 70px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  position: relative;
}

.who__item {
  padding: 24px 57px;
  border: 1px solid #e8e5fb;
  border-left: 0;
  border-bottom: 0;
  min-height: 260px;
  position: relative;
}

.who__item:nth-child(3n) {
  border-right: 0;
}

.who__item:nth-last-child(1), .who__item:nth-last-child(2), .who__item:nth-last-child(3) {
  border-bottom: 1px solid #e8e5fb;
}

.who__item-num {
  font-size: 50px;
  margin-bottom: 40px;
}

.who__item-text {
  font-size: 18px;
  font-family: "CirceRegular";
}

.who__item-decor {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.who__item-decor span {
  font-size: 28px;
}

.who__text {
  font-size: 50px;
  font-size: calc(24px + (50 - 24) * ((100vw - 320px) / (1920 - 320)));
  max-width: 770px;
  border-bottom: 5px solid #212128;
  padding-bottom: 35px;
  margin-right: 20px;
}

.who__text span {
  color: #fa5634;
}

.who .slick-track {
  height: 100%;
}

@media (min-width: 1920px) {
  .who__text {
    font-size: 50px;
  }
}

@media (max-width: 1000px) {
  .who__item {
    padding: 28px;
  }
  .who__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .who__text {
    margin-bottom: 40px;
    max-width: 100%;
    text-align: center;
    margin-right: 0;
  }
}

@media (max-width: 700px) {
  .who__items {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .who__item:nth-child(3n) {
    border-right: 1px solid #e8e5fb;
  }
  .who__item:nth-child(2n) {
    border-right: 0;
  }
  .who__item:nth-last-child(3) {
    border-bottom: 0;
  }
}

@media (max-width: 500px) {
  .who__items {
    max-height: 260px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .who__item {
    border: 1px solid #e8e5fb;
    border-right: 0;
    border-left: 0;
  }
}
